
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>  
link(rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
//- link(rel="stylesheet" type="text/css" href="https://bootswatch.com/4/materia/bootstrap.min.css")
//- link(rel="stylesheet" type="text/css" href="https://bootswatch.com/4/materia/bootstrap.css")
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> 
//- link(rel='stylesheet',type="text/css", href='/stylesheets/bootstrap.css')
//- link(rel='stylesheet',type="text/css", href='/stylesheets/bootstrap.min.css')
style
   include ../stylesheets/bootstrap.css
//- style
//-    include 
doctype html
//extends layout
html
   head
      title= cleannews
      link(rel='stylesheet' href='https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css')
   body
      div(class='jumbotron')
         div(style = "padding-left: 50%; display: flex; padding-left:15%; padding-right:15%; margin:0 auto; justify-content: center;")
            img(src = 'https://i.imgur.com/ziggMS1.png', style = 'width: 60px; ') 
            h1(style = 'text-align: center; display: inline;') !{' '} cleannews
         br
         h6(style = 'text-align: center;') Unbaised, Verified, Analyzed News
         br
      div(style = "padding-left:15%; padding-right:15%;")
         table.table(class = 'table-striped', style = '70%')
            //- tbody
            th
               td 
                  h6 Info
               td 
                  h6 Title
               td 
                  h6 Description
               td 
                  h6 Probabilities
               td 
                  h6 Sentiment
               td
                  h6 Keywords
            each article, index in newsList

               if article.robot.fake_news < .5 && article.robot.extremely_biased < .5 && article.robot.clickbait < .5
                  tr
                     //- td
                     //-    h6 #{index}
                     td
                        if article.image && article.image.thumbnail && article.image.thumbnail.contentUrl
                           div(style="position: relative; top: 0; left: 0;")
                           //- img.className#IdName(src=track.image.thumbnail.contentUrl style="width: 80%; display: block; margin-left: auto;  position: relative; top: 0; left: 0;")
                           //- img.className#IdName(src=track.image.thumbnail.contentUrl style="width: 70%; display: block; margin-left: auto;  position: absolute; top: 5px; right: 0px; border: 1px white solid;")
                           //- img.className#IdName(src=article.image.thumbnail.contentUrl style="width: 68%; display: block; margin-left: auto;  position: relative; top: 0; left: 0;  opacity: 0.2; ")
                           img.className#IdName(src=article.image.thumbnail.contentUrl)
                     td
                        h6(style = 'font-size: 15px;') #{article.datePublished.substring(0,7).replace("T", "")}
                        h6(style = 'font-size: 15px;') #{article.provider[0].name}
                        div(style = 'width: 100px;')
                           if article.robot.fake_news < .5
                              img(src = 'https://i.imgur.com/pGNVAhj.png', style = 'width: 50px')
                           if article.robot.extremely_biased < .5
                              img(src = 'https://i.imgur.com/PMaMow4.png', style = 'width: 50px')
                           if article.robot.clickbait < .5
                              img(src = 'https://i.imgur.com/ldHfmXq.png', style = 'width: 50px')
                              
                     td
                        a(href = article.url style="") #{article.name}
                     td                
                        h6 #{article.description}
                     td
                        h5(style = 'font-size: 10px;') Fake-News Probability: #{((article.robot.fake_news)*100).toFixed(2)}%
                        h5(style = 'font-size: 10px;') Bias Probability: #{((article.robot.extremely_biased)*100).toFixed(2)}%
                        h5(style = 'font-size: 10px;') Clickbait Probability: #{((article.robot.clickbait)*100).toFixed(2)}%
                     td
                        h5(style = 'font-size: 10px;') Positive Sentiment:  #{((article.sentiments.positive)*100).toFixed(2)}%
                        h5(style = 'font-size: 10px;') Negative Sentiment: #{((article.sentiments.negative)*100).toFixed(2)}%
                        h5(style = 'font-size: 10px;') Neutral Sentiment: #{((article.sentiments.neutral)*100).toFixed(2)}%
                     td
                        h5(style = 'font-size: 10px;') Keywords:
                        each word in article.keywords
                           h5(style = 'font-size: 10px;') #{word}
                     //- td
                     //-    //- img(src= require("./factualinfo.png"))
                     //-    //- img(src= require("./nobias.png"))
                     //-    div(style = 'width: 100px;')
                     //-       img(src = 'https://i.imgur.com/pGNVAhj.png', style = 'width: 70px')
                     //-       img(src = 'https://i.imgur.com/PMaMow4.png', style = 'width: 70px')
